
:root {
  --top-color: rgb(249, 244, 244);
  --bottom-color: rgb(245, 206, 213);
  --element-color: rgb(141, 213, 213);
  --switch-color : rgb(255, 255, 255);
}

.darkmode {
  --top-color: rgb(154, 154, 154);
  --bottom-color: rgb(247, 242, 243);
  --element-color: rgb(208, 249, 249);
  --switch-color : rgb(61, 61, 61);
}



.header {
  background-color: var(--bottom-color);
  width: 100%;

  &__top-header {
    background-color: var(--top-color);
    max-width: 1150px;
    height: 75px;
    margin: 0 auto;
    position: relative;
  }

  &__social-icons {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 0px;
    right: 20px;
  }

  &__icon-element {
    background-color: var(--element-color);
    //32 1.5
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;

    svg {
      margin: auto;
    }
  }

  &__navigation {
    background-color: rgb(113, 113, 181);
    max-width: 1150px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__navigation-list {
    list-style: none;
    margin: 0;
    //byc moze flex nie dziala z tym align bo nie ma rozmiaru listy, jest tylko rozmiar kontenera
  }
  
  &__navigation-element {
    display: inline-block;
    padding: 10px;

  }

  &__navigation-link {
    text-decoration: none;
  }
  
  &__navigation-link-element {
    position: relative;
    display: block;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    padding:10px;
    transition: .1s ease-in;
  }

  &__navigation-link-element:hover {
    // color: rgb(206, 217, 141);
    transform: translateY(-5px);
    z-index: 1;
  }

  &__navigation-link-element::before {
    content: "";
    display: block;
    position: absolute;
    top: -11px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(218, 179, 108);
    border-top: 10px solid rgb(170, 60, 170);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-out;
  }

  &__navigation-link-element:hover::before {
    background-color: rgb(170, 60, 170);
    border-top: 10px solid rgb(170, 60, 170);
    opacity: 1;
    //ten border na dole ktory pojawia sie innym efektem to bedzie ::after chyba
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 62px;
  height: 35px;
}

.toggle {
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--element-color);
  border-radius: 25px;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--switch-color);
  transition: .4s;
}

// .slider.active:before {
//   top: 3px;
//   left: 31px;
// }

// .toggle + .slider.active:before {
//   transform: translateX(-28px) ;
// }
// .toggle:checked + .slider.active:before {
//   transform: translateX(-28px) ;
// }

.toggle:checked + .slider:before {
  transform: translateX(28px);
}

//muszę spróbowqać jak jest zrobić input checked auomatycznie 
//v bind if darkActive - value- checked cos takiegho