.form {
  // background-color: rgb(219, 154, 154);
  // background: linear-gradient(135deg, #91c1ee, #f08181);
  // max-width: 650px;
  // height: 400px;
  // margin: 0 auto;
  // font-family: sans-serif;

  &__wrapper {
    // width: 70%;
    // margin: 0 auto;
    // background-color: var(--primary);
  }

  &__title {
    text-align: center;
    margin: 0 0 1rem 0;
    color: black;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
}

.title {
  grid-area: 1 / 5 / 2 / 9;
}

.men {
  grid-area: 2 / 4 / 3 / 7;
}

.women {
  grid-area: 2 / 7 / 3 / 10;
}

.weight {
  grid-area: 3 / 5 / 4 / 9;
}

.age {
  grid-area: 4 / 5 / 5 / 9;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__title {
    display: block;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: black;
  }

  &__input-radio {
    display: none;
  }

  &__input-radio:checked ~ &__option::before {
    visibility: visible;
  }

  &__option {
    display: block;
    // text-align: left;
    // width: 100%;
    // padding: 10px;
    // border-radius: 5px;
    // background-color: var(--dark3);
    // color: var(--light);
    // border: 2px inset var(--dark4);
    // border: 1px solid white;
    color: black;
    font-family: "Roboto", sans-serif;
    // margin: 0 0 1rem 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    // background-color: pink;
  }

  // &__option:hover {
  //   border: 1px solid var(--secondary);
  // }

  &__option::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    // background-color: var(--secondary);
    background-color: black;
    // background-color: red;
    // left: 125px;
    left: calc(50% - 5px);
    top: calc(200% - 5px);
    visibility: hidden;
  }

  &__option::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    // border: 2px solid var(--primary);
    border: 1px solid black;
    // left: 120px;
    // left: calc(50% - 5px);
    left: calc(50% - 10px);
    top: calc(200% - 10px);
  }

  &__input-number {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    // background-color: var(--dark3);
    // color: var(--light);
    // border: 2px inset var(--dark4);
    background-color: transparent;
    color: black;
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    outline: none;
    // cursor: pointer;
    font-size: 16px;
    text-align: center;
  }

  &__input-number:focus,
  &__input-number:hover {
    // border: 2px solid var(--secondary);
    outline: none;
  }
}
