.step-container {
  // background-color: rgb(246, 225, 92);
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  max-width: 1150px;
  margin: 0 auto;
  min-height: 500px;
  text-align: center;
}
