:root {
	//colors
	--primary: #8368ed;
	--primary-light: #a494e7;
	--secondary: #63b1f9;
	//grayscales

	--dark: #08080e;
	--dark1: #12121d;
	--dark2: #1c1c2a;
	--dark3: #23232f;
	--dark4: #333340;
	--dark5: #454551;

	--light: #626478;
	--light2: #8b8d9c;
	--light3: #bebfcd;
	--light4: #dadbe6;
	--light5: #ececf2;

	//alert

	--success: #4ed885;
	--error: #f34868;
	--warning: #f3f348;
}
