.container {
  background-color: rgb(246, 225, 92);
  // background-color: rgb(238, 248, 248);
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  max-width: 1150px;
  margin: 0 auto;
  min-height: 500px;
  text-align: center;
  //prawdopodobnie oba te wrappery powinny zostać połączone w jeden
}

.grid_aco {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  background-color: pink;
  width: 100%;
  min-height: inherit;
  // padding: 100px 0;
}
