.form {
  &__el {
    color: white;
    font-family: "Roboto", sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.9s ease;
    width: 100%;
    max-height: 71px;

    &--question {
      cursor: pointer;
    }

    &--answer {
      margin: 0 0 16px 0;
    }
  }

  &__el-plus {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    // transition: all 0.3s ease;
  }

  &__el-plus::before,
  &__el-plus::after {
    content: "";
    position: absolute;
    background-color: white;
  }

  &__el-plus::before {
    left: 50%;
    top: 4px;
    bottom: 4px;
    width: 2px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
  }

  &__el-plus::after {
    top: 50%;
    left: 4px;
    right: 4px;
    height: 2px;
    opacity: 1;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  &__el-plus.rotate::before {
    transform: rotate(90deg);
  }
  &__el-plus.rotate::after {
    transform: rotate(90deg);
    opacity: 0;
  }
}

.flexb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  max-height: 340px;
  // max-height: 1000px;
}

.v-enter-to,
.v-leave-from {
  max-height: 500px;
}

.v-enter-active {
  transition: all 0.8s ease-in;
}
.v-leave-active {
  transition: all 0.8s ease-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  max-height: 0px;
}
