.form {
  &__el {
    color: white;
    font-family: "Roboto", sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.9s ease;
    // min-height: 100px;
    // max-height: 100px;
    width: 100%;
    max-height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--question {
      cursor: pointer;
    }
  }

  &__el-item--text {
    width: 80%;
  }

  &__el-item__icon {
    display: block;
    position: relative;
    border: 2px solid white;
    width: 32px;
    margin-right: 10px;
  }

  &__el-item__icon::before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid white;
    width: 32px;
    transform: rotate(90deg) translateY(2px) translateX(-2px);
    top: 0;
    left: 0;
    /* https://stackoverflow.com/questions/41051094/making-a-plus-sign-with-css */
  }
}

.active {
  max-height: 340px;
}

.helper {
  background-color: yellow;
  height: 5px;
}

.v-enter-to,
.v-leave-from {
  max-height: 500px;
}

.v-enter-active {
  transition: all 0.8s ease-in;
}
.v-leave-active {
  transition: all 0.8s ease-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  max-height: 0px;
}
